@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 300;
}

html, body {
    height: 100%;
    background: #efeeee;
}

/* Media Query für mobile Endgeräte */
@media (max-width: 600px) {
    * {
        padding-left: 0;
        padding-right: 0;
    }
}