

@font-face {
    font-family: 'extraLight';
    src: url('src/assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'light';
    src: url('src/assets/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'regular';
    src: url('src/assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'thin';
    src: url('src/assets/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'medium';
    src: url('src/assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Grundstil ohne feste Breite */
html, body {
    height: 100%;
    background: #efeeee;
    margin: 0;
}


/* Desktop-Ansicht: Feste Breite und zentriert */
@media (min-width: 601px) {
    html, body {
        width: 90vw;
        margin: 0 auto;
    }
}

/* Mobile Ansicht: Volle Breite, keine feste Breite */
@media (max-width: 600px) {
    html, body {
        width: auto;
        margin: 0;
    }
    * {
        padding-left: 0;
        padding-right: 0;
    }
}